<% provide(:title, "Help") %>
<h1>Cor-Notes Help Page</h1>
<p>So you need help?  Good luck!</p>
<p>Find me in app/views/static_pages/help.html.erb</p>

access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;